@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #171717;
  --color-blue: #3246c5;
  --color-neon-green: #00ff00;
  --color-neon-red: #ff0000;
}

body {
  background-color: var(--color-black);
  font-family: var(--font-primary);
}

main {
  position: relative;
}

.device {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  padding-left: 16px;
  padding-right: 16px;
}

.timer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 75vw;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.round,
.round-time,
.break-time {
  font-family: var(--font-secondary);
  font-size: 100px;

  @media (min-width: 768px) {
    font-size: 125px;
  }

  @media (min-width: 1280px) {
    font-size: 200px;
  }
}

.round {
  color: var(--color-neon-green);
}

.separator {
  font-size: 100px;
  font-family: var(--font-secondary);
  color: var(--color-neon-red);
}

.round-time,
.break-time {
  color: var(--color-white);
}

.controls {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;

  & button {
    margin-top: 16px;
    padding: 8px 16px;
    height: 50px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-white);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 32px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 24px;
      min-width: 185px;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.settings {
  position: absolute;
  z-index: 1;
  background-color: var(--color-black);
  left: -100%;
  top: 0;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  border-radius: 8px;
  border: 1px solid var(--color-white);
  transition: left 0.5s ease-in-out;
  padding: 8px 12px;

  &.open {
    left: 0;
  }

  .settings-close-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 30px;
    color: var(--color-white);
  }

  .settings-input-container {
    margin: 32px 0 0;
  }

  .rounds-input-group,
  .time-input-group {
    margin: 8px 0 0;
  }

  .settings-input {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border: 1px solid var(--color-black);
    text-align: center;
    font-size: 26px;

    &.rounds-input {
      width: 100px;
    }
  }

  .settings-input-colon {
    margin: 0 5px;
    color: var(--color-white);
  }

  label {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 24px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  .settings-button-container {
    margin: 32px 0 0;
  }

  .settings-button {
    color: var(--color-white);
    height: 60px;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 150px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
  }
}
